
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    # Git style
      - id: check-added-large-files                                     ## Prevent giant files from being committed. Specify what is '"too large" with args => ['--maxkb=123'] (default=500kB). Skips Github Large Files
      - id: check-merge-conflict                                        ## Check for files that contain merge conflict strings.
      - id: forbid-new-submodules                                       ## Prevent addition of new git submodules.
      - id: no-commit-to-branch                                         ## Protect specific branches from direct checkins.
    # Common errors
      - id: check-symlinks                                              ## checks for symlinks which do not point to anything.
      - id: check-json                                                  ## checks json files for parseable syntax.
      - id: end-of-file-fixer                                           ## Makes sure files end in a newline and only a newline.
      - id: trailing-whitespace                                         ## Trims trailing whitespace.
        args: [--markdown-linebreak-ext=md]                             ## preserves Markdown hard linebreaks from being trimmed
      - id: check-yaml                                                  ## Attempts to load all yaml files to verify syntax. e.g cloudformation files
        exclude: ^mkdocs.yml
      - id: check-executables-have-shebangs                             ## Checks that non-binary executables have a proper shebang.
    # Cross platform
      - id: check-case-conflict                                         ## Check for files with names that would conflict on a case-insensitive filesystem like MacOS HFS+ or Windows FAT.
    # Security
      - id: detect-aws-credentials                                      ## Checks for the existence of AWS secrets that you have set up with the AWS CLI
        args: [--allow-missing-credentials]                             ## Allow hook to pass when no credentials are detected.
      - id: detect-private-key                                          ## Checks for the existence of private keys.

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.99.4
    hooks:
      - id: terraform_fmt                                               ## Checks terraform format
      - id: terraform_validate                                          ## validates with tflint and initializes modules/files if they are not initialized
